body {
    font-family: 'Open Sans', sans-serif;
    color: #040514d5;
    background: rgb(233, 246, 255)
}

#root-container {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.root-cell {
    border: 0.25rem solid #caf0f8;
    border-radius: 0.5rem;
    background: white;
    padding: 1rem;
}

.project-name {
    font-weight: bold;
}

ol {
    list-style: decimal-leading-zero;
}

h1 {
    margin: 0;
    padding: 0;
    border: 0.1rem solid hsla(190, 77%, 88%, 1);
    background: hsla(190, 77%, 88%, 0.6);
    font-size: 1.25rem;
    padding: 0.2rem;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0.1rem solid hsla(190, 77%, 88%, 1);
    background: hsla(190, 77%, 88%, 0.5);
    font-size: 1.15rem;
    padding: 0.2rem;
}

p {
    margin: 0;
    padding: 0;
    padding: 0.2rem;
}

#user-stories-mvp,
#user-stories-iteration {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: auto;
    justify-content: stretch;
    align-items: stretch;
    column-gap: 0.1rem;
    row-gap: 0.1rem;
}

#user-stories-mvp {
    grid-template-areas: 
    "mvp-heading mvp-heading mvp-heading"
    "mvp-heading-who mvp-heading-what mvp-heading-why";
}

#user-stories-iteration {
    grid-template-areas:
    "iteration-heading iteration-heading iteration-heading"
    "iteration-heading-who iteration-heading-what iteration-heading-why";
}

/* .user-stories-cell {
    border: 0.1rem solid none;
    border-radius: 0.2rem;
} */

.user-stories-mvp-heading {
    grid-area: mvp-heading;
    background: #ade8f4;
    font-weight: bold;
}

.user-stories-mvp-column-heading-who {
    grid-area: mvp-heading-who;
    background: #caf0f8;
    font-style: italic;
}

.user-stories-mvp-column-heading-what {
    grid-area: mvp-heading-what;
    background: #caf0f8;
    font-style: italic;
}

.user-stories-mvp-column-heading-why {
    grid-area:mvp-heading-why;
    background: #caf0f8;
    font-style: italic;
}

.user-stories-iteration-heading {
    grid-area: iteration-heading;
    background: #ade8f4;
    font-weight: bold;
}

.user-stories-iteration-column-heading-who {
    grid-area: iteration-heading-who;
    background: #caf0f8;
    font-style: italic;
}

.user-stories-iteration-column-heading-what {
    grid-area: iteration-heading-what;
    background: #caf0f8;
    font-style: italic;
}

.user-stories-iteration-column-heading-why {
    grid-area: iteration-heading-why;
    background: #caf0f8;
    font-style: italic;
}

.blocks-screenshot {
    width: 100%;
}

.deployment {
    margin-top: 0.5rem;
    padding: 1rem;
    border: 0.5rem solid hsla(279, 58%, 47%, 0.5);
    border-radius: 0.25rem;
}


#input-comment {
    padding: 0.5rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

#add-comment {
    padding: 0.5rem 1rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

.share-link {
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    background: hsla(190, 77%, 88%, 0.8);
    /* border: 0.5rem solid hsla(201, 100%, 36%, 0.5); */
    border: 0.5rem solid hsla(279, 58%, 47%, 0.5);
    border-radius: 0.2rem;
}

#comments-title {
    margin-top: 0.5rem;
}